{{ define "body-class" }}template-blog{{ end }}
{{ define "main" }}
    <header>
        <h2 class="section-title">Blog</h2>
    </header>

    {{- $pages := collections.Where site.RegularPages "Type" "post" -}}

    {{ range $pages.GroupByDate "2006" }}
    {{ $id := lower (replace .Key " " "-") }}
    <div class="blog-group" id="{{ $id }}">
        <h2 class="blog-date section-title"><a href="{{ $.RelPermalink }}#{{ $id }}">{{ .Key }}</a></h2>
        <div class="article-list--default">
            {{ range .Pages }}
                {{ partial "article-list/default" . }}
            {{ end }}
        </div>
    </div>
    {{ end }}

    {{ partialCached "footer/footer" . }}
{{ end }}